footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
  margin-top: 50px;
  text-align: center;
}

.footer-links li {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer-links li a,
footer .container {
  color: #ffffff;
  font-weight: 300;
  font-size: 15px;
}

.footer-links li a:hover {
  color: #f8f9fa;
}

.text-foot {
  font-size: 20px;
  font-weight: 400;
}


@media (max-width: 767px) {
  footer {
      margin-top: 30px;
  }
  
  footer .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
}
