header {
    display: block;
    align-items: center;
    justify-content: center; /* Centraliza os itens na tela */
    max-width: 1280px;
    padding: 20px;
    height: 80px;

  }
.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
    padding: 12px;
    transition: 0.6s all; /* Cor dos links quando não estão em estado de hover */
}
.navbar{
  transition: 0.7s all;
}
.navbar.scrolled {
  transition: 0.7s ease all;
  background-color: #674188;
  border-radius: 5px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.137);
}
.navbar-dark .navbar-nav .nav-link:hover {
  transition: 0.6s ease all;
    color: #E177FF; /* Cor dos links ao passar o mouse sobre eles */
}
  .logo {
    width: 100px;
    margin-left: 20px;
  }
  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    transition: 0.4s ease all;
  }
  
  .nav-link:hover {
    color: #000000;
    transition: 0.4s ease all;
  }
  
  .btn-home {
    background-color: transparent; /* Alterado de 'none' para 'transparent' */
    border: 2px solid #674188;
    color: white;
    font-weight: 600;
}

.btn-home:hover {
    border: 2px solid #9d01c9;
    color: white;
    transition: 0.5s all;
}
  .content {
    transition: margin-left 0.3s;
    padding: 20px;
  }
  /* Estilos adicionais para melhorar a aparência */
  body {
    overflow-x: hidden;
  }
  .navbar-brand {
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .nav-link {
      font-size: 12px; /* Reduz o tamanho do texto dos links para telas menores */
    }
    .logo {
      width: 70px; /* Reduz a largura da logo para telas menores */
    }
    header {
      height: auto; /* Altura automática para acomodar o conteúdo */
      padding-bottom: 20px; /* Adiciona um espaço na parte inferior do header */
    }
  }