.magica {
    background-color: #B800ED;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    padding: 50px;
    flex-direction: column;
    ;
}

.div-container {
    margin-bottom: 10px;
    padding: 50px;
}

.text-magica {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    
}
#magica .carousel-indicators{
    margin: -20px;
}
.h2-magica {
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.img-magica {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #acacac;
    border-radius: 30px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.493);
}

@media (max-width: 768px) {
    .magica {
        flex-direction: row;
        padding: 0;
        border-radius: 0%;
        text-align: center;
        height: 100%;
    }
    .text-magica{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .h2-magica{
        font-size: 17px;
    }
    .text-magica,
    .h2-magica,
    .img-magica {
        margin-bottom: 0px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .img-magica {
        margin-top: 20px;
        margin-right: 20px;
        width: 100%;
    }
}