.magica {
    background-color: #B800ED;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    padding: 50px; /* Adiciona um espaço interno para telas menores */
    flex-direction: column;
    ; /* Altera a direção do layout para empilhar verticalmente */
}

.div-container {
    margin-bottom: 10px;
    padding: 50px;
}

.text-magica {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
     /* Adiciona espaço inferior para telas menores */
}
#magica .carousel-indicators{
    margin: -20px;
}
.h2-magica {
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.img-magica {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #acacac;
    border-radius: 30px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.493);
}

@media (min-width: 768px) {
    .magica {
        flex-direction: row; /* Restaura a direção do layout para exibir em linha */
        padding: 0;
        border-radius: 0%;
        text-align: center;
        height: 100%; /* Remove o espaço interno */
    }
    .carousel-item .col-md-4 {
        flex: 0 0 100%; /* Ajuste para ocupar toda a largura em telas pequenas */
    }
    .text-magica,
    .h2-magica,
    .img-magica {
        margin-bottom: 0px;
        text-align: center;
        align-items: center;
        justify-content: center; /* Remove o espaço inferior */
    }

    .img-magica {
        margin-right: 20px;/* Adiciona espaçamento à direita entre as imagens */
    }
}