* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}
html, body{
    width: 100%;
    overflow-x: hidden;
}
body {
    background-color: #ffffff;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.text-left {
    margin-top: 30vh;
    text-align: center; /* Alinhar texto centralmente */
}

#principal {
    width: 100%;
    margin-bottom: 100px;
}

.text-principal {
    color: #674188;
    font-weight: 800;
    margin-top: 200px;
}

.text-secundario {
    color: #b800ed;
    font-weight: 700;
    margin-top: -10px;
}

.img-home {
    max-width: 500px;
    margin-top: 25vh;
    margin-bottom: 20px;
}

.paragrafo {
    max-width: 100%;
    color: rgb(0, 0, 0);
    font-weight: 300;
}
.paragrafo2{
    max-width: 100%;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

@media (max-width: 768px) {
    .text-principal {
        font-size: 34px;
    }

    .text-left {
        margin-top: 190px;
    }

    .text-secundario {
        font-size: 20px;
    }

    .paragrafo {
        font-size: 15px;
    }

    .img-home {
        text-align: center; /* Centralizar horizontalmente */
        max-width: 100%;
        margin-top: 100px;
        margin: 0 auto; /* Centralizar horizontalmente */
    }
    
    #texto h1 {
        max-width: 600px;
    }
    
    #principal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
