* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

body {
    background-color: #FFF5F5;
    overflow-x: hidden;
}

.text-left {
    margin-top: 30vh;
    text-align: center; /* Alinhar texto centralmente */
}

#principal {
    width: 100%;
    margin-bottom: 100px;
}

.text-principal {
    color: #674188;
    font-weight: 800;
    margin-top: 200px;
}

.text-secundario {
    color: #b800ed;
    font-weight: 700;
    margin-top: -10px;
}

.img-home {
    max-width: 100%;
    margin-top: 10vh;
    margin-bottom: 20px;
}

.paragrafo {
    max-width: 100%;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

.section-hidden,
.section-hidden-2,
.section-hidden-3 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}



@media (min-width: 768px) {
    .text-principal {
        font-size: 34px;
    }

    .text-left {
        margin-top: 190px;
    }

    .text-secundario {
        font-size: 20px;
    }

    .paragrafo {
        font-size: 15px;
    }

    .img-home {
        max-width: 600px;
        margin-top: 150px;
        margin-left: 10px;
    }
    
    #texto h1 {
        max-width: 600px;
    }
    
    #principal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
