*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}
body{
    background-color: #FFF5F5;
    overflow-x: hidden;
}
#home{
    background-image: url(/images/2tentativa.png);
    background-size: 100%;
    background-position: 100% 35%;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.9;
    height: 650px;
    width: 1340px;
}

.text-principal{
    color: white;
    font-weight: 800;
}
.text-secundario{
    color: #b800ed;
    font-weight: 700;
    margin-top: -10px;
}
.paragrafo{
    max-width: 400px;
    color: white;
    font-weight: 300;
}


