#missao {
    margin-bottom: 100px;
    text-align: left;
    background-color: #fff; /* Centraliza todo o conteúdo */
}
.text-missao{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 13px;
}
.img-missao {
    width: 100%; /* Torna a imagem responsiva */
    max-width: 450px; /* Limita o tamanho máximo da imagem */
    border-radius: 10px;
    display: block; /* Garante que a imagem seja centralizada */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
    margin-top: 150px;
}

.h2-missao {
    color: #674188;
    font-weight: 600;
}
.texto-missao{
    margin-top: 60px;
    color: #674188;
    font-weight: 600;
}
.text-missao {
    margin-top: 60px;
}

.p-missao {
    font-weight: 500;
}


@media (max-width: 768px){
    #missao {
        text-align: center; /* Centraliza todo o conteúdo */
    }
    .texto-missao{
        font-size: 35px;
    }
    .h2-missao{
        font-size: 25px;
    }
    .p-missao{
        font-size: 15px;
    }
    .circle-image{
        display: none;
    }
    .img-missao{
        margin-top: 10px;
        width: 350px;
    }
    .text-missao{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 10px;
    }
}
