#missao {
    margin-bottom: 100px;
    text-align: left; /* Centraliza todo o conteúdo */
}

.img-missao {
    width: 100%; /* Torna a imagem responsiva */
    max-width: 450px; /* Limita o tamanho máximo da imagem */
    border-radius: 10px;
    display: block; /* Garante que a imagem seja centralizada */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
    margin-top: 150px;
}

.h2-missao {
    color: #674188;
    font-weight: 600;
}
.texto-missao{
    margin-top: 60px;
    color: #674188;
    font-weight: 600;
}
.text-missao {
    margin-top: 60px;
}

.p-missao {
    font-weight: 500;
}

.circle-image {
    position: absolute;
    top: 25%;
    margin-left: 595px;
    max-width: 100%; /* ajuste o tamanho conforme necessário */
    height: auto; /* ajuste o tamanho conforme necessário */
}
@media (max-width: 768px){
    #missao {
        text-align: center; /* Centraliza todo o conteúdo */
    }
    .texto-missao{
        font-size: 35px;
    }
    .h2-missao{
        font-size: 25px;
    }
    .p-missao{
        font-size: 15px;
    }
    .circle-image{
        display: none;
    }
    .img-missao{
        margin-top: 10px;
        width: 350px;
    }
}
