#texto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b800ed;
    color: white;
    padding: 20px; /* Adicionando um espaçamento interno */
}

#texto img {
    margin-right: 10px; /* Adicionando espaçamento entre as imagens */
}

@media (max-width: 768px) {
    #texto {
        flex-wrap: wrap; /* Permitindo que as imagens quebrem para a próxima linha */
        padding: 20px;
    }

    #texto img {
        margin: 5px; /* Adicionando um espaçamento menor entre as imagens */
        width: 100px; /* Reduzindo o tamanho das imagens para telas menores */
    }
    
    #texto img:nth-child(2) {
        width: 200px; /* Modificando o tamanho da segunda imagem para telas menores */
    }
    
    #texto img:nth-child(3) {
        width: 140px; /* Modificando o tamanho da terceira imagem para telas menores */
    }
    
    #texto img:nth-child(4) {
        width: 120px; /* Modificando o tamanho da quarta imagem para telas menores */
    }
}
