#planos{
    margin-top: 100px;
    text-align: center;
}
#planos h1{
    color: #674188;
    font-weight: 700;
    font-size: 35px;
}
#planos .underline{
    width: 300px;
    margin-bottom: 30px;
}
#planos .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.card-plano {
    background-color: #fff;
    border-radius: 8px;
    padding: 17px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.288);
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  .card-plano h2 {
    color: #333;
    font-size: 25px;
    margin-top: 20px;
  }
  
  .subtitulo {
    color: #666;
    font-size: 13px;
  }
  .card-premium{
    box-shadow: 0 2px 4px 5px #ba00ed34;
  }
  .btn-planos {
    display: inline-block;
    background-color: #B800ED;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 15px;
    transition: all 0.5s ease
  }
  
  .btn-planos:hover {
    transition: all 0.5s ease;
    background-color: #674188;
    color: white;
    text-decoration: none;
  }

  @media (max-width: 768px){
    #planos .container{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    #planos h1{
        color: #674188;
        font-weight: 700;
        font-size: 35px;
        max-width: 450px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #planos .underline{
        width: 200px;
        margin-bottom: 30px;
    }
  }