#recomend{
    display: flex ;
    justify-content: center;
    align-items: center ;
    margin-top: 100px;
}
.p-recomend{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 500;
    margin-bottom: 50px;

}
#recomend .carousel-indicators{
  margin: -100px;
}
.text-recomend{
    color:#674188;
    font-weight: 700;
}
.card {
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.041);
  padding: 5px;
}

.card-img-top {
  border-radius: 50%;
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.card-body {
  text-align: center;
}
.card {
  width: 100%; /* Alterando a largura para ocupar toda a largura do contêiner pai */
  max-width: 400px; /* Limitando a largura máxima */
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.041);
  padding: 5px;
}

/* Ajustes para telas menores, como dispositivos móveis */
@media (max-width: 767px) {
  .carousel-item .row.justify-content-center {
      display: flex; /* Ativando flexbox para a linha */
      flex-wrap: wrap; /* Permitindo que os itens quebrem para a próxima linha */
      justify-content: center; /* Centralizando os itens */
  }
  .p-recomend{
    text-align: center;
  }
  .text-recomend{
    font-size: 35px;
  }
  .carousel-item .col-md-4 {
      width: 100%; /* Definindo a largura total para ocupar a largura do contêiner pai */
      max-width: 400px; /* Limitando a largura máxima dos cards */
      margin-bottom: 20px; /* Adicionando espaço entre os cards */
  }
}
/* Alterando a cor apenas do ícone do botão de navegação anterior */
.carousel-control-prev-icon {
  filter: invert(100%); /* Inverter a cor do ícone para preto */
}

/* Alterando a cor apenas do ícone do botão de navegação seguinte */
.carousel-control-next-icon {
  filter: invert(100%); /* Inverter a cor do ícone para preto */
}

/* Estilizando a seta esquerda */
.carousel-control-prev {
  left: -30px;
}

/* Estilizando a seta direita */
.carousel-control-next {
  right: -30px;
}