#servico {
    margin-top: -100px;
    padding: 20px; /* Adiciona um pouco de espaço interno */
}

.text-servicos {
    color: #674188;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px; /* Adiciona espaço inferior */
}

.linha-2 {
    border-bottom: 3px solid #674188;
    width: 350px;
}

.servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
    padding: auto;
}

.img-servicos {
    width: 160px;
    margin: 0 0px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.603);
    border: 2px solid #b800ed;
    margin-bottom: 10px; /* Adiciona espaço inferior entre as imagens */
}

.h2-servicos {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    text-align: center;
    color: #674188;
    font-weight: 600;
}

@media (max-width: 768px) {
    .servicos{
        flex-wrap: wrap;
        gap: 30px;
        
    }
    #servico{
        margin-top: 100px;
    }
    .img-servicos {
        width: 150px; /* Reduz a largura da imagem para telas menores */
    }

    .h2-servicos {
        font-size: 20px; /* Reduz o tamanho da fonte para telas menores */
    }

    .linha-2 {
        width: 240px;
        margin-left: 100px;
    }

    .text-servicos {
        font-size: 30px; 
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
    }
}
