#servico {
    margin-top: -100px;
    padding: 20px; /* Adiciona um pouco de espaço interno */
    text-align: center; /* Centraliza o conteúdo */
}

.text-servicos {
    color: #674188;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 200px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.linha-2 {
    border-bottom: 3px solid #674188;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Centraliza a seção */
    padding: auto;
}

.servico-card {
    width: 350px;
    height: 300px; /* Divide em 3 colunas */
    padding: 20px;
    box-sizing: border-box; /* Considera padding e border dentro do tamanho total */
    text-align: center;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.11);
    transition: transform 0.3s ease;
    margin: 10px;
}

.servico-card:hover {
    transform: translateY(-5px);
}

.servico-card img {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.h2-servicos {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #674188;
    font-weight: 600;
}

@media (max-width: 768px) {
    .servicos {
        flex-wrap: wrap;
        gap: 30px;
        text-align: center;
    }

    #servico {
        margin-top: 100px;
    }
    .servico-card{
        align-items: center;
        justify-content: center;
        margin-left: 60px;
    }
    .img-servicos {
        width: 100px; /* Reduz a largura da imagem para telas menores */
    }

    .h2-servicos {
        font-size: 18px; /* Reduz o tamanho da fonte para telas menores */
    }

    .linha-2 {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-servicos {
        color: #674188;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}