.sobre {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.img-fluid {
    max-width: 400px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.445);
    margin-top: 40px;
}

.purple-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 470px;
    background-color: #b800ed;
    opacity: 0.5;
    z-index: -1;
    transform: skewX(-14deg);
}

.sobre-dir {
    display: flex; /* Torna o container um flex container */
    flex-direction: column; /* Empilha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-top: 80px;
}

.text-sobre {
    color: #674188;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.p-sobre {
    color: black;
    text-align: center;
    max-width: 550px;
    font-weight: 300;
    font-size: 15px;
}

.underline {
    border-bottom: 3px solid #674188;
    width: 320px;
    margin-bottom: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

ion-icon {
    font-size: 33px;
    padding: 20px;
    color: #674188;
    cursor: pointer;
    transition: transform 0.4s;
    margin-top: -20px;
}

ion-icon:hover {
    transform: translateY(-5px);
}
@media (max-width: 768px) {
    .sobre {
        padding: 20px; /* Adiciona um espaço de preenchimento menor para telas menores */
    }
    
    .sobre-esq {
        width: 100%; /* Define a largura para 100% para ocupar toda a largura da tela */
        text-align: center;
        margin-top: 0px; /* Centraliza o conteúdo *//* Adiciona um espaço de margem inferior */
    }

    .img-fluid {
        width: 80%; /* Reduz a largura da imagem para 80% da largura da tela */
        margin: 0 auto 20px; /* Centraliza a imagem horizontalmente e adiciona espaço de margem inferior */
    }

    .sobre-dir {
        margin-top: 120px; /* Reduz a margem superior */
    }

    .text-sobre {
        font-size: 28px; /* Reduz o tamanho da fonte */
    }

    .underline {
        width: 150px; /* Reduz o comprimento da linha de sublinhado */
    }
    .purple-square {
        height: 350px;
        margin-top: 0px; /* Reduz a altura do purple-square para telas menores */
    }
    ion-icon {
        font-size: 28px; /* Reduz o tamanho do ícone */
        padding: 10px; /* Reduz o espaçamento interno */
    }
}